---
interface Row {
    cells: string[];
}

const { rows = [] } = Astro.props.node as { rows: Row[] };
---

{
    rows.length > 0 && (
        <div class="relative my-8 -mx-6 sm:-mx-12 lg:-mx-24 px-6 sm:px-12 lg:px-24">
            <div class="overflow-x-auto rounded-lg border border-neutral-200 shadow-sm">
                <table class="table table-zebra w-full text-sm px-1">
                    <thead>
                        <tr class="">
                            {rows[0].cells.map((cell: string) => (
                                <th class="whitespace-nowrap">{cell}</th>
                            ))}
                        </tr>
                    </thead>
                    <tbody>
                        {rows.slice(1).map((row: Row) => (
                            <tr class="">
                                {row.cells.map((cell: string) => (
                                    <td>{cell}</td>
                                ))}
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        </div>
    )
}
